<% const d = new Date(); let year = d.getFullYear(); %>
<p class="copyright">&copy; <%= year %>, CSE 340 App</p>
<a href="/error/trigger">Server Error Test</a> <!-- The link to trigger a 500 error -->
