<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE Motors</title> <!-- EJS tag for dynamic title -->
    <link rel="stylesheet" href="/css/styles.css" media="screen">
  </head>
  <body>
    <div id="wrapper">
      <header id="top-header">
        <span class="siteName">
          <a href="/" title="Return to home page">CSE Motors</a>
        </span>
        <div id="tools">
          <a title="Click to log in" href="/account/login">MY ACCOUNT</a>
        </div>
      </header>
      
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Custom</a></li>
          <li><a href="#">Sedan</a></li>
          <li><a href="#">SUV</a></li>
          <li><a href="#">Truck</a></li>
        </ul>
      </nav>
      <!-- EJS content injection -->
      <%- body %> <!-- This will render the content from other EJS files -->

      <footer>
        <p class="copyright">&copy; <%= new Date().getFullYear() %>, CSE 340 App</p>
      </footer>
    </div>
  </body>
</html>
