

<div class="management-wrapper">
    <h1>Vehicle Management</h1>
    
    <%- messages() %>

    <div class="management-links">
        <a href="/inv/add-classification" class="management-button">Add New Classification</a>
        <a href="/inv/add-inventory" class="management-button">Add New Vehicle</a>
        <a href="/inv/delete-classification" class="management-button">Delete Classification</a>
        
    </div>
</div>

